<% include ../partials/header %>
<% include ../partials/menu %>

<style type="text/css">
	h1 {
	  background-color: #565656;
	  color: transparent;
	  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
	  -webkit-background-clip: text;
		 -moz-background-clip: text;
			  background-clip: text;
	}
</style>




		<div class="top-menu"></div>
      	<div class = "container">
      		<form>	
      			<h1>New Micro-Meteorite Submission!</h1>
      			<div class ="form-group">
      				<label for="newInterest">Location:</label>
      				<br>	
      				<input type="text" name="Name" placeholder="Name">
      			</div>

      			<div class ="form-group">
      				<label for="newInterest">Description:</label>
      				<br>	
      				<input class="form-control input-lg" id="inputlg" type = "text" name="Name" style="height:150px">
      			</div>


      			<div class = "row">
      				<div class = "col-md-5">
      					<div class="container mt-3">
  							<form action="/action_page.php">    
    							<p>Upload Local Image:</p>
    							<input type="file" id="myFile" name="filename2">
  							</form>
						</div>
      				</div>


      			</div>
      			<br>



				<p>Login to Finish Submitting</p>

				<div class = "row">
					<div class = "col-md-5">
						<div class="form-group">
            				<input type="email" class="form-control" id="userName" placeholder="Email">
        				</div>
						
					</div>

					<div class = "col-md-5">
						<div class="form-group">
            				<input type="password" class="form-control" id="inputPassword" placeholder="Password">
            			</div>
						
					</div>				
        		</div>


    			<div class="mt-3">
      				<button type="submit" class="btn btn-primary">Submit</button>
    			</div>





      		</form>
      		
      	</div>
		<script>$(".top-menu").load("menu.html");</script>
<% include ../partials/footer %>
